@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --bg: #111;
   --white:#fff;
   --black:#333;
   --red:#c0392b;
   --blue: #009fbe;
   --orange:#ffa500;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.2rem solid var(--black);
   --black-bg-pd:rgba(17,17,17,.7);
   --bg-hover: rgba(6, 237, 245, 0.268);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   margin:0; padding:0;
   text-decoration: none;
   box-sizing: border-box;
   transition:all .2s linear;
   outline: none; border:none;
   font-family: 'Rubik', sans-serif;
}

*::selection{
   color:var(--white);
   background-color: var(--blue);
}

*::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

body{
   background: var(--light-bg);
}

section{
   padding:3rem 2rem;
}

.title{
   font-size: 4rem;
   color:var(--white);
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
}

.btn,
.delete-btn,
.option-btn {
   color:#fff;
   cursor: pointer;
   margin-top: 1rem;
   font-size: 1.7rem;
   padding:.8rem 3rem;
   display: inline-block;
   background-color: #222;
   border:.3rem solid var(--blue);
}
 
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   color:var(--blue);
   background-color: var(--bg-hover);
}

#message {
   text-align: center;
   justify-content: center;

}

.message{
   top: 0px;
   gap:1.5rem;
   padding:2rem;
   display: flex;
   z-index: 10000;
   position: fixed;
   margin:5px auto;
   right: 0;left: 0;
   max-width: 1200px;
   align-items: center;
   justify-content: center;
   background-color: var(--black);
   border: .2em solid  var(--blue);
   justify-content: space-between;
}



.message span{
   margin: 0 20px;
   font-size: 2rem;
   color:var(--white);
   text-align: center;
}

.message i{
   right: 20px;
   cursor: pointer;
   color:var(--red);
   font-size: 2.5rem;
   position: absolute;
}

.empty{
   padding:1.5rem;
   font-size: 2rem;
   color:var(--red);
   text-align: center;
   border:var(--border);
   border-radius: .5rem;
   text-transform: capitalize;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

@keyframes fadeIn{
   0%{
      transform: translateY(1rem);
   }
}

.header{
   z-index: 1000;
   position: sticky;
   top:0; left:0; right:0;
   box-shadow: var(--box-shadow);
   background-color: var(--black);
   border-bottom: .4em solid var(--blue);
}

.header .flex .logo{
  width: 120px;
  height: 34px;

}

.header .flex{
   display: flex;
   margin: 0 auto;
   max-width: 1200px;
   position: relative;
   padding:1.5rem 2rem;
   align-items: center;
   justify-content: space-between;
}

.header .flex .account-box{
   width: 33rem;
   padding:2rem;
   display: none;
   position: absolute;
   text-align: center;
   border-radius: .5rem;
   top:120%; right:-12rem;
   animation: fadeIn .2s linear;
   box-shadow: var(--box-shadow);
   border: .4em solid var(--blue);
   background-color: var(--white);
}

.header .flex .account-box.active{
   display: inline-block;
}

.header .flex .account-box p{
   font-size: 2rem;
   color:var(--bg);
   line-height: 1.5;
   padding-bottom: 1rem;
}

.header .flex .account-box p span{
   color:var(--blue);
}

.header .flex .account-box div{
   font-size: 2rem;
   margin-top: 2rem;
   color:var(--light-color);
}

.header .flex .account-box div a{
   color:var(--orange);
}

.header .flex .account-box div a:hover{
   text-decoration: underline;
}

.header .flex .icons div{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--white);
   margin-left: 1.7rem;
}

.header .flex .icons div:hover{
   color:var(--blue);
}

.header .flex .navbar {
   background-color: var(--black);
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--white);
}

.header .flex .navbar a:hover{
   color:var(--blue);
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .flex .logo span{
   color:var(--blue);
}

#menu-btn{
   display: none;
}

.dashboard {
   background-color: var(--bg);
}

.dashboard .box-container{
   gap:1.5rem;
   display: grid;
   margin: 0 auto;
   max-width: 1200px;
   align-items: flex-start;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));

}

.dashboard .box-container .box{
   padding:2rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background-color: var(--black);
   border: .2em solid var(--blue);
}

.dashboard .box-container .box h3{
   margin-top: 2rem;
   font-size: 3.5rem;
   color:var(--white);

}

.dashboard .box-container .box p{
   padding:1.5rem;
   color:var(--bg);
   font-size: 2rem;
   border-radius: .5rem;
   border: .2em solid var(--blue);
   background-color: var(--light-bg);
}

.add-products {
   background-color: var(--bg);
}

.add-products form{
   padding:2rem;
   margin:0 auto;
   max-width: 50rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border: .2em solid var(--blue);
   background-color: var(--black);
}

.add-products form h3{
   font-size: 2.5rem;
   color:var(--white);
   margin-bottom: 1rem;
   text-transform: uppercase;
}

.add-products form .box{
   width: 100%;
   margin:1rem 0;
   color:var(--bg);
   font-size: 1.8rem;
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   border: .2em solid var(--blue);
   background-color: rgb(223, 229, 236);
}

.add-products form textarea{
   height: 15rem;
   resize: none;
}

.show-products {
   background-color: var(--bg);
}

.show-products .box-container{
   gap:1.5rem;
   display: grid;
   margin: 0 auto;
   max-width: 1200px;
   justify-content: center;
   align-items: flex-start;
   grid-template-columns: repeat(auto-fit, 30rem);
}

.show-products .box-container .box{
   padding:2rem;
   text-align: center;
   position: relative;
   border:var(--border);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background-color: var(--black);
   border: .2em solid var(--blue);
}

.show-products .box-container .box .image{
   width: 100%;
   height: 35rem;
   object-fit: cover;
}

.show-products .box-container .box .price{
   top:1rem;
   left:1rem;
   padding:1rem;
   font-size: 2rem;
   color:var(--white);
   position: absolute;
   border-radius: .5rem;
   background-color: var(--blue);
}

.show-products .box-container .box .name{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--white);
}

.show-products .box-container .box .details{
   padding:.5rem 0;
   line-height: 1.5;
   font-size: 1.5rem;
   color:var(--white);
}

.update-product form{
   padding:2rem;
   margin:0 auto;
   max-width: 50rem;
   text-align: center;
   border:var(--border);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

.update-product {
   background-color: var(--bg);
}

.update-product form {
   border: .2em solid var(--blue);
   background-color: var(--black);
}

.update-product form h3{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: 1rem;
   text-transform: uppercase;
}

.update-product form .box{
   width: 100%;
   margin:1rem 0;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   border: .2em solid var(--blue);
   background-color: rgb(223, 229, 236);
}

.update-product form textarea{
   resize: none;
   height: 15rem;
}

.update-product .image{
   width: 100%;
   height: 30rem;
   border-radius: .5rem;
   border:var(--border);
}

.placed-orders {
   background-color: var(--bg);
}

.placed-orders .box-container{
   gap:1.5rem;
   display: grid;
   margin: 0 auto;
   max-width: 1200px;
   justify-content: center;
   align-items: flex-start;
   grid-template-columns: repeat(auto-fit, 33rem);
}

.placed-orders .box-container .box{
   padding:2rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border: .2em solid var(--blue);
   background-color: var(--black);
}

.placed-orders .box-container .box p{
   font-size: 2rem;
   color:var(--white);
   margin-bottom: 1rem;
}

.placed-orders .box-container .box p span{
   color:var(--blue);
}

.placed-orders .box-container .box form{
   margin-top: 1rem;
   text-align: center;
}

.placed-orders .box-container .box form select{
   width: 100%;
   margin:.5rem 0;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   border: .2em solid var(--blue);
   background-color: rgb(223, 229, 236);
}

.users {
   background-color: var(--bg);
}

.users .box-container{
   gap:1.5rem;
   display: grid;
   margin: 0 auto;
   max-width: 1200px;
   align-items: flex-start;
   justify-content: center;
   grid-template-columns: repeat(auto-fit, 33rem);
}

.users .box-container .box{
   padding:2rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border: .2em solid var(--blue);
   background-color: var(--black);

}

.users .box-container .box p{
   font-size: 2rem;
   line-height: 1.5;
   color:var(--white);
   margin-bottom: 1rem;
}

.users .box-container .box p span{
   color:var(--blue);
}

.users .box-container .box .delete-btn{
   margin-top: .5;
}

.messages {
   background-color: var(--bg);
}

.messages .box-container{
   gap:1.5rem;
   display: grid;
   margin: 0 auto;
   max-width: 1200px;
   justify-content: center;
   align-items: flex-start;
   grid-template-columns: repeat(auto-fit, 33rem);
}

.messages .box-container .box{
   padding:2rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background-color: var(--black);
   border: .2em solid var(--blue);
}

.messages .box-container .box p{
   font-size: 2rem;
   line-height: 1.5;
   color:var(--white);
   margin-bottom: 1rem;
}

.messages .box-container .box p span{
   color:var(--blue);
}

.footer{
   background-color: var(--black);
   border-top: .3em solid var(--blue);
}

.footer .box-container{
   gap:1.5rem;
   margin:0 auto;
   display: grid;
   max-width: 1200px;
   align-items: flex-start;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}

.footer .box-container .box h3{
   font-size: 2.2rem;
   color:var(--white);
   margin-bottom: 1.5rem;
   text-transform: uppercase;
}

.footer .box-container a,
.footer .box-container p{
   padding:1rem 0;
   display: block;
   font-size: 1.7rem;
   color:var(--white);
}

.footer .box-container a i,
.footer .box-container p i{
   color:var(--blue);
   padding-right: 1rem;
}

.footer .box-container a:hover{
   color:var(--blue);
   text-decoration: underline;
}

.footer .credit{
   font-size: 2rem;
   text-align: center;
   margin-top: 2.5rem;
   padding-top: 2.5rem;
   color:var(--light-color);
   border-top: var(--border);
}

.footer .credit span{
   color:var(--blue);
}




/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--black);
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      border-top: .3em solid var(--blue);
      border-bottom: .3em solid var(--blue);

   }

   .header .flex .navbar a{
      margin:2rem;
      display: block;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .title{
      font-size: 3.5rem;
   }

   .header .flex .account-box{
      top:120%; right: 3rem;
   }

}